html {
    box-sizing: border-box;
}

body {
    Font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: -300px -500px, 700px 350px;
}


.panel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    max-width: 350px;
}

.age {
    color:hsl(0, 0%, 73%);
    font-weight: 400;
    font-size: 20px;
    padding-left: 5px;
}

.location {
    color:hsl(0, 0%, 59%);
    margin-top: -10px;
    margin-bottom: 30px;

}

.stat-heading {
    color: hsl(0, 0%, 59%);
    margin-bottom: 30px;
    font-size: 13px;
}

.name-age {
    color: hsl(229, 23%, 23%);
    font-size: 25px;
}

.stat-num {
    color: hsl(229, 23%, 23%);
    font-size: 18px;
    margin: 20px 30px 8px 30px;
}

.stats {
    display: flex;
    border-top: .5px solid hsl(0, 0%, 73%);
    width: 100%;
   justify-content: center;
}

.hero-img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.profile-pic {
    border-radius: 50%;
    border: 6px solid white;
}

.profile-pic {
    margin-top: -60px;
}
@media (max-width: 1440px) {
    body {
        background-repeat: no-repeat, no-repeat;
        background-position: -600px -600px, 200px 450px;
    }
}
